In [1]:
import pandas as pd
music_data = pd.read_csv('music.csv')
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [2]:
X = music_data.drop(columns=['genre'])
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [3]:
y = music_data['genre']
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [4]:
# Now we need to create a model using an Algorithm
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()

In [5]:
model.fit(X.values, y)

DecisionTreeClassifier()

In [6]:
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [7]:

predictions = model.predict([ [21, 1], [22,0] ])
predictions
# We are asking our model to add the data to the table
# and make predictions what age group people like the song

array(['HipHop', 'Dance'], dtype=object)

In [8]:
# now we need to measure the Accuracy of the model
# Split the data sets into 2 parts one for Training and other for Testing
# 80 percent of the data allocated for training and remaing 20 percent for testing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
# Accuracy is used to compare the accurary of the model that we trained
# used to split the data into train and test

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X ,y, test_size=0.2)
# X_train, X_test input test for training and testing and the other is output test
# 0.8 is allocating 20% of the data to Testing
model.fit(X_train.values, y_train)

DecisionTreeClassifier()

In [10]:
predictions = model.predict(X_test.values)
# X_test id the dataset that contains the input values for testing
# To calculate the predictions compare the predictions & y_test

In [11]:
score = accuracy_score(y_test, predictions)
score
# accuracy_score is imported from sklean and we are calling it here
# y_test contains the expected values and predictions whih compares the actual values
# the output ranges from 0 to 1

1.0

In [12]:
import joblib
model.fit(X.values, y)
# joblib has the method to train and store the model
joblib.dump(model, 'music-recommender.joblib')
# m-r-j is the place where we want to store the model

['music-recommender.joblib']

In [13]:
# now the data is being trained and stored
# now we can just load the model and ask for predictions
# trained_model = joblib.load(model, 'music-recommender.joblib')

In [14]:
predictions = model.predict([ [22, 1], [21, 0] ])
predictions

array(['HipHop', 'Dance'], dtype=object)

In [88]:
from sklearn import tree
model.fit(X.values, y)
tree.export_graphviz(model, out_file='music-recommender.dot', 
                     feature_names=['age', 'gender'],
                     class_names=sorted(y.unique()),
                     label='all',
                     rounded=True,
                     filled=True)

In [ ]:
# filled+true is for background colour
# rounded for border
# label = all to read it